.home{
    
    background-image: url("https://images.healthservicediscounts.com/retailer/2044/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:'1px 2px 9px #F4AAB9';
    
}