.navlinks:hover{
    color: rgb(255, 85, 0);
}
.navhead{
    font-size: 30px;
}
.bg-image{
    width: 100%;
    background-image: url(images/pet3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.appointment-bg{
    width: 100%;
    background-image: url(images/pet1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Authorization{
    width: 100%;
    background-image: url(images/Wave-10s-1536px.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ::-webkit-scrollbar{
    display: none;
} */
.bg-image{
    background-color: rgba(0, 0, 0, 0);
}
.adopt-card{
    box-shadow: 10px 10px 10px 0px grey;
    transition: 500ms;
  }
.adopt-card:hover{
    transform: scale(1.06);
}
.footer-row span{
    color: gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input-box{
    width: 500px;
}